/*FONTS-------------------------------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/*PAGE-------------------------------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
@media (max-width: 767px) {
/*MOBILE HEADER-------------------------------------------------------------------------------------------------------*/
.header {
  display: flex;
  flex-direction: column;
  position: fixed;
}
/*  |HEADER PART ONE|  */
.header-part-one {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 9vh;
  width: 100vw;
  background-color: #fff;
}
.header-nav {
  display: flex;
}
.header-nav > #logo {
  height: 1.5rem;
  margin-right: 15%;
}
.header-part-one > #mobile-menu{
  display: flex;
  align-items: center;
  border: none;
}
.header-part-one > #mobile-menu > img{
  height: 1.7rem;
}
#nav.active .header-nav-ul {
  height: 45vh;
  visibility: visible;
}
.header-nav-ul {
  display: block;
  position: absolute;
  width: 50vw;
  height: 0;
  list-style: none;
  top: 9vh;
  right: 0;
  background-color: #005271;
  visibility: hidden;
  transition: all 0.6s;
  overflow-y: hidden;
  z-index: 50;
}
.header-nav-ul li {
  padding: 1rem;
  border-bottom: 1px solid rgba(211, 211, 211, 0.315);
  transition: all 0.3s ease;
  background-color: #005271;
}
.header-nav-ul > li > a {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
}

.header-nav-ul li:hover {
  border-radius: 15px;
  background-color: #1c8ebb;
}
.header-btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 2%;
}
.header-btns > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header-btns > button > img:hover {
  filter: grayscale(100%);
}
.header-btns > button > img {
  height: 1.5rem;
}
.header-btns > #written-btn {
  display: none;
}
/*  |HEADER PART TWO|  */
.header-part-two {
  display: flex;
}
#second-nav.active .header-second-nav-ul {
  height: 48vh;
  top: 48vh;
  visibility: visible;
}
.header-second-nav {
  display: block;
}
.header-second-nav-ul {
  display: block;
  position: absolute;
  width: 50vw;
  height: 0;
  list-style: none;
  top: 9vh;
  right: 0;
  background-color: #005271;
  visibility: hidden;
  transition: all 0.6s;
  overflow-y: hidden;
  z-index: 100;
}
.header-second-nav-ul > li > button {
  background-color: transparent;
  border: none;
  
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
.header-second-nav-ul li{
  color: #fff;
  padding: 1rem;
  border-bottom: 1px solid rgba(211, 211, 211, 0.315);
  background-color: #005271;
}
.header-second-nav-ul li i{
  background-color: transparent;
}
.header-second-nav-ul li {
  transition: all 0.3s ease;
  background-color: #005271;
}
.header-second-nav-ul li:hover {
  border-radius: 15px;
  background-color: #1c8ebb;
}
.header-part-two input{
  display: none;
}
 /*  |SITES INFO|  */
 .menu-sites-info{
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  position: absolute;
  top: 9vh;
  width: 50vw;
  border: 3px solid #71d8ff;
}
.sites-info > nav{
  width: 90%;
  margin: 7.5% 0 0 3%;
}
.sites-info > nav >  h1{
  font-size: 0.8rem;
  font-weight: 900;
  color: #005271;
  border-bottom: 1px solid #c4c4c97a;
  cursor: pointer;
}
.sites-info > nav > ul{
font-size: 0.8rem;
list-style: none;
color: #39393B;
}
.sites-info > nav > ul > li{
cursor: pointer;
margin-top: 5%; 
}
.sites-info > nav > ul > li:hover{
color: #fff;
border-radius: 8px;
background-color: #1c8ebb;
}
/*MAIN-------------------------------------------------------------------------------------------------------*/
/*  |<FIRST SECTION>|  */
section.banner {
  width: 100%;
  height: 40vh;
  overflow: hidden;
}
.banner > img {
  width: 100vw;
  height: 40vh;
  padding-top: 9vh;
}
/*  |<SECOND SECTION>|  */
section.services-and-products {
  width: 100%;
  height: 290vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/*  |SERVICES|  */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.services > .services-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80%;
  margin-top: 10%;
}
.services > .services-description > h1 {
  width: 12rem;
  font-size: 1.3rem;
  font-weight: 900;
  color: #033244;
}
.services > .services-description span {
  color: #00aeef;
}
.services > .services-description > button {
  height: 2rem;
  width: 7rem;
  padding: 2%;
  margin-top: 12%;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
  border: none;
  background-color: #71d8ff;
  color: #033244;
  transition: all 0.3s ease;
}
.services > .services-description > button:hover {
  color: #0089BC;
  background-color: #E2F7FF;
}
.services > .services-divider {
  display: none;
}
.services > .services-card {
  display: none;
}
/*  |PRODUCTS|  */
.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 70vw;
  text-align: left;
}
.products-container > h3 {
  width: 12rem;
  font-size: 1.3rem;
  color: #033244;
  margin-bottom: 10%;
}
.products-container span {
  color: #00aeef;
}
.products-container > button {
  align-self: start;
  height: 2rem;
  width: 10rem;
  padding: 2%;
  margin-top: 12%;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 900;
  border: none;
  background-color: #71d8ff;
  color: #033244;
}
.products-container > button:hover {
  color: #0089BC;
  background-color: #E2F7FF;
}
.product-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 2rem;
  width: 90vw;
  overflow-x: scroll;
  overflow-y: hidden;
  color: #676767;
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: #f3f3f3;
  padding: 1%;
}
.product-list::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}
.product-list::-webkit-scrollbar-track {
  background-color: #e1e1e1;
}
.product-list::-webkit-scrollbar-thumb {
  background-color: #0089bc;
  border-radius: 8px;
}
.product-list > .product {
  border-radius: 8px;
  background-color: #e8e8e8;
  padding: 1%;
  transition: all 0.3s ease;
}
.product-list > .product:hover{
  border-radius: 18px;
  box-shadow: 8px 8px 10px #3e3f3f36;
}
.product-list > .product img {
  background-color: #e8e8e8;
}
.product-list > .product h4 {
  background-color: #e8e8e8;
}
/*  |BECOME A NERDWEB|  */
.become-a-nerdweb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 60vh;
  width: 70vw;
  padding: 2% 0 2% 4%;
  margin-bottom: 3%;
  background-image: url(/img/join-us.png);
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid #12b3ef;
}
.become-a-nerdweb > h5 {
  font-size: 1.3rem;
  font-weight: 900;
  color: #033244;
  background-color: transparent;
}
.become-a-nerdweb > p {
  font-size: 1rem;
  font-weight: 500;
  color: #005271;
  background-color: transparent;
}
.become-a-nerdweb > button {
  height: 2rem;
  width: 8rem;
  cursor: pointer;
  color: #033244;
  background-color: #71d8ff;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 900;
  border: none;
  transition: all 0.3s ease;
}
.become-a-nerdweb > button:hover {
  color: #fff;
  background-color: #12b3ef;
}
/*  |SERVICE SELECTION|  */
.service-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}
.service-selection > h5{
  font-size: 1.3rem;
  color: #2C3A2F;
  margin-bottom: 1%;
}
.service-selection > p{
  font-size: 1rem;
  font-weight: 500;
  color: #0089BC;
  margin-bottom: 4%;
} 
.service-selection > .service-selection-cards-container {
  display: flex;
  width: 90vw;
  overflow-x: scroll;
}
.service-selection-card {
  width: 90vw;
  margin-right: 1%;
  background-color: #283137;
}
.service-selection-card > img{
    width: 90vw;
    height: 12rem;
}
.service-selection-card > .card-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
    background-color: #283137;
}
.service-selection-card > .card-info > h6{
    font-size: 0.9rem;
    font-weight: 900;
    margin-bottom: 4%;
    color: #fff;
    background-color: #283137;
}
.service-selection-card > .card-info > p{
    font-size: 0.9rem;
    font-weight: 400;
    color: #E2F7FF;
    margin-bottom: 9%;
    background-color: #283137;
}
.service-selection-card > .card-info > button{
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  color: #00AEEF;
  background-color: #283137;
  cursor: pointer;
  transition: all 0.3s ease;
}
.service-selection-card > .card-info > button:hover{
  padding: 3px;
  border-radius: 8px;
  border: none;
  color: #00AEEF;
  background-color: #e2f7ff;
}
/*  |<THIRD SECTION>|  */
section.about-nerdweb{
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/*  |OUR VISION|  */
.our-vision{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 90vw;
  height: 70vh;
  padding: 4%;
  margin-top: 6%;
  background-image: url(/img/come-and-meet-us.png);
  background-size: cover;
}
.our-vision > h1{
  font-size: 1.5rem;
  color: #fff;
  background-color: transparent;
}
.our-vision > p{
  font-size: 1rem;
  color: #71D8FF;
  background-color: transparent;
}
.our-vision > button{
  height: 2rem;
  width: 8rem;
  cursor: pointer;
  color: #fff;
  background-color: #0089BC;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 900;
  border: none;
  transition: all 0.3s ease;
}
.our-vision > button:hover{
  color: #0089BC;
  background-color: #E2F7FF;
}
/*  |DIVIDER|  */
.divider{ 
  width: 90vw;
}
.divider > #divider{
  display: none;
}
/*  |OUR CLIENTS|  */
.our-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90vw;
  margin: 22% 0 12% 0;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text h1{
  font-size: 1.8rem;
  font-weight: 900;
  margin-bottom: 10%;
  color: #033244;
}
.text > h1 > span{
  color: #0089bc;
}
.text > p{
  display: none;
}
.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.clients > img {
  width: 7rem;
  margin: 1rem
}
/*  |NEWS AND DISCOUNTS|  */
.news-and-discounts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90vw;
  height: 60vh;
  padding: 8%;
  background-color: #F3F3F3;
}
.news-and-discounts > .title-and-subtitle{
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
}
.news-and-discounts > .title-and-subtitle > h2{
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 4%;
  color: #033244;
  background-color: #F3F3F3;
}
.news-and-discounts > .title-and-subtitle > h3{
  font-size: 0.8rem;
  color: #0089BC;
  background-color: #F3F3F3;
}
.news-and-discounts > .register-input{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #F3F3F3;
}
.news-and-discounts > .register-input > input{
  width: 15rem;
  height: 2rem;
  padding: 4%;
  border-radius: 3px;
  border: 2px solid #005271;
}
.news-and-discounts > .register-input > button{
  height: 2rem;
  width: 8rem;
  cursor: pointer;
  color: #033244;
  background-color: #71d8ff;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 900;
  border: none;
  transition: all 0.3s ease;
}
.news-and-discounts > .register-input > button:hover{
  color: #0089BC;
  background-color: #E2F7FF; 
}
/*  |<FOOTER>|  */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 3%;
  background-color: #283137;
  border-top: 3px solid #0089BC;
}
.footer-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 80vw;
  background-color: #283137;
}
.footer-logo{
  display: none;
}
.footer-info > .footer-logo img{
  display: none;
}
.footer-info > .footer-info-card > .info-card{
  width: 12rem;
  height: 8rem;
  background-color: #283137;
}
.footer-info > .footer-info-card > .info-card h1{
  font-size: 1.1rem;
  color: #fff;
  background-color: #283137;
}
.footer-info > .footer-info-card > .info-card nav{
  background-color: #283137;
}
.footer-info > .footer-info-card > .info-card ul{
  font-size: 0.9rem;
  font-weight: 500;
  list-style: none;
  color: #00AEEF;
  background-color: #283137;
}
.footer-info > .footer-info-card > .info-card li{
  background-color: #283137;
  cursor: pointer;
}
.footer-info > .footer-info-card > .info-card p{
  background-color: #283137;
  
}
.footer-info > .footer-info-card > .info-card li:hover{
  color: #fff;
}
.social-medias{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 80vw;
  border-top: 2px solid #E1E1E1;
  background-color: #283137;
}
.social-medias > .social-medias-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 80vw;
  margin-top: 2%;
  background-color: #283137;
}
.social-medias > .social-medias-text h2{
  font-size: 0.8rem;
  font-weight: lighter;
  color: #E1E1E1;
  background-color: #283137;
}
.social-medias > .social-medias-text h3{
  font-size: 0.9rem;
  font-weight: 400;
  padding-top: 20%;
  color: #71D8FF;
  background-color: #283137;
}
.social-medias > .social-medias-icons{
  display: flex;
  align-items: flex-start;
  justify-content: start;
  width: 80vw;
  gap: 1rem;
  background-color: #283137;
}
.social-medias > .social-medias-icons i{
  padding-top: 20%;
  background-color: #283137;
}
.social-medias > .social-medias-icons i:hover{
  filter: grayscale(100%);
}
}
